// _header.scss

.header{
  height: 110px;
  box-shadow: 0px 2px 4px 0px rgba(0,0,0,0.5);
}

.header .logo{
  text-indent: -9999px; // hide text

  background: no-repeat center;
  background-size: auto 100%;

  margin-top: 20px;

  // will fallback to png if multiple backgrounds / svgs aren't supported
  background-image: url('../images/logo.png');
  background-image: none, url('../images/logo.svg');

  transition: opacity .15s;
}

.header .logo--white{
  // will fallback to png if multiple backgrounds / svgs aren't supported
  background-image: url('../images/logo--white.png');
  background-image: none, url('../images/logo--white.svg');
}

.header .logo--black{
  // will fallback to png if multiple backgrounds / svgs aren't supported
  background-image: url('../images/logo--black.png');
  background-image: none, url('../images/logo--black.svg');
}

.header {
  .menu {
    float: right;

    li {
      display: inline-block;
      font-family: $secondary-font-family;
      font-weight: 400;
      text-transform: uppercase;
      margin-left: 15px;
      margin-right: 15px;
      font-size: 1.5em;

      a {
        color: $black-color;
      }
    }
  }
}