// _header.scss

.header{
  box-shadow: 0px 2px 4px 0px rgba(0,0,0,0.5);
  position: fixed;
  width: 100%;
  background-color: white;
  //background-image: url('../images/background.png');
  z-index: 1;
}

.header .logo{
  text-indent: -9999px; // hide text

  background: no-repeat center;
  background-size: auto 100%;

  margin-top: 20px;
  background-size: contain;

  // will fallback to png if multiple backgrounds / svgs aren't supported
  background-image: url('../images/logo.png');
  background-image: none, url('../images/logo.svg');

  transition: opacity .15s;
}

.header .logo--white{
  // will fallback to png if multiple backgrounds / svgs aren't supported
  background-image: url('../images/logo--white.png');
  background-image: none, url('../images/logo--white.svg');
}

.header .logo--black{
  // will fallback to png if multiple backgrounds / svgs aren't supported
  background-image: url('../images/logo--black.png');
  background-image: none, url('../images/logo--black.svg');
}

.header {
  .menu {
    float: right;
    margin-bottom: 0;

    li {
      display: inline-block;
      font-family: $secondary-font-family;
      font-weight: 400;
      margin-left: 15px;
      margin-right: 15px;
      font-size: 1.5em;

      &.current-menu-item a::after {
        opacity: 1;
      }

      a {
        display: block;
        color: $black-color;
        text-decoration: none;
        text-transform: uppercase;

        &:hover::after {
          opacity: 1;
        }

        //Underline on hover
        &::after {
          position: relative;
          content: '';
          display: block;
          height: 3px;
          top: 0px;
          opacity: 0;
          transition: 0.1s all linear;
          background-color: $black-color;
        }
      }
    }
  }
}

.menu > li{
  padding: 1.5em 0;
  list-style: none;

  text-align: center;
  font-size: 1em;
  font-weight: 500;
}

@media (max-width: 800px) {
  .header .menu li {
    margin-left: 5px;
    margin-right: 5px;
  }
}

@media (max-width: 640px) {
  .header {
    position: relative;

    .menu {
      float: none;
      margin-left: 0;

      li {
        display: block;
      }

      & > li {
        padding: 20px;
      }
    }
  }
}