// _home.scss

.page-background {
	width: 100%;
	height: 75vh;
	background-position: center;
	background: linear-gradient(to top right, rgba(255, 0, 0, .75), rgba(31, 150, 104, .75)), url('../images/home-background.jpg');
	background-size: cover;
	background-attachment: fixed;
	z-index: -5;
}

.about {
	margin-bottom: 8vh;
	margin-top: 12vh;
	z-index: 5;

	h2 {
		font-family: $heading-font;
		font-size: 7.5em;
		line-height: 1em;
		transform: rotate(354deg);
		position: absolute;
		margin-left: 60px;
	}

	p {
		margin-top: 100px;
	}
}

@media (max-width: 1150px) {
	.about {
		h2 {
			font-size: 6em;
		}
	}
}


@media (max-width: 940px) {
	.about {
		h2 {
			font-size: 4em;
		}

		p {
			margin-top: 60px;
		}
	}
}

@media (max-width: 640px) {
	.page-background {
		height: 300px;
	}

	.about {
		h2 {
			position: relative;
			text-align: center;
			margin-left: 0;
		}
	}
}