.member {
	color: $black-color;
	transition: 0.1s all linear;
	display: block;
	height: 22em;

	img {
		border-radius: 7px;
		max-width: 200px;
		width: 100%;
	}

	h4 {
		font-size: 1.5em;
		margin: 10px 0;
		font-family: $secondary-font-family;
	}

	p {
		font-size: 1em;
		margin-bottom: 60px;
	}

	&:hover {
		transition: 0.1s all linear;
		opacity: 0.75;
	}
}

.selector {
	margin-bottom: 60px;

	.individual-selector, .company-selector {
		text-align: center;
		font-family: $secondary-font-family;
		font-size: 1.3em;
		padding: 10px 0;
		cursor: pointer;
		background-color: white;
		border: solid 1px #333;

		&.active {
			box-shadow: inset 0px 0px 5px 0px rgba(0,0,0,0.4);
			background-color: $main-color;
			color: white;
			border: solid 1px white;
		}
	}

	.individual-selector {
		margin-left: -1px;
		border-bottom-right-radius: 20px;
		border-top-right-radius: 20px;
	}

	.company-selector {
		border-bottom-left-radius: 20px;
		border-top-left-radius: 20px;
	}
}

.overlay {
	background-color: rgba(47, 47, 47, 0.82);
	position: fixed;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	z-index: 50;

	.overlay-box {
		max-width: 900px;
		width: 100%;
		background-color: white;
		border-radius: 11px;
		position: absolute;
		top: 10vh;
		left: calc(50% - 450px);
		box-sizing: border-box;
		padding: 40px;
	}

	#cross {
		position: absolute;
		right: 30px;
		top: 10px;
		font-family: $secondary-font-family;
		font-size: 2em;
		color: $black-color;
	}

	h2 {
		font-family: $secondary-font-family;
		font-size: 2.2em;
		margin-bottom: 20px;
		color: $black-color;
	}

	p {
		font-size: 1em;
	}

	img {
		margin-bottom: 20px;
		border-radius: 3px;
		max-width: 200px;
		width: 100%;
	}

	.facebook {
		color: #3b5998;
	}

	.twitter {
		color: #33CCFF;
	}

	.linkedin {
		color: #4875B4;
	}

	.contact-details {
		padding: 20px;
		box-sizing: border-box;
		background-color: #E4E4E4;
		border-radius: 3px;
		color: $black-color;

		.contact {
			font-family: $text-font-family;
			padding: 5px 0;

			.letter {
				font-family: $secondary-font-family;
				margin-right: 10px;
			}
		}
	}
}

@media (max-width: 920px) {
	text-align: center;

	.overlay .overlay-box {
		left: 0px;
		top: 0px;
	}
}

@media (max-width: 640px) {
	.selector {
		max-width: 200px;

		.company-selector {
			margin-bottom: 20px;
		}

		.company-selector, .individual-selector {
			border-radius: 0;
			margin-left: 0;
		}
	}
}