.heading {
	padding: 50px 0;
	background: linear-gradient(to top right, rgba(255, 0, 0, .75), rgba(31, 150, 104, .75));

	h1 {
		text-align: center;
		font-family: $heading-font;
		color: white;
		font-size: 4em;
		margin-bottom: 0;
	}

	h2 {
		text-align: center;
		font-family: $secondary-font-family;
		color: white;
		font-size: 1.5em;
	}

	&.solid {
		padding: 20px 0;
		background: $main-color;
	}
}

.contents {
	background-image: url('../images/background.png');
	padding: 60px 0;
}

