.heading {
	padding: 50px 0;
	background: $black-color;

	h1 {
		text-align: center;
		font-family: $heading-font;
		color: white;
		font-size: 4em;
		margin-bottom: 0;
	}

	h2 {
		text-align: center;
		font-family: $secondary-font-family;
		color: white;
		font-size: 1.5em;
	}

	&.solid {
		padding: 20px 0;
		background: $black-color;
	}
}

.contents {
	background-image: url('../images/background.png');
	background-repeat: repeat-y;
	padding: 60px 0;
}

