// _person.scss

.people{
  overflow: hidden; // clearfix
  margin: 0;
  padding: 0;
}

.person{
  float: left;
  width: 25%;
  padding: 1em;

  list-style: none;
}

.person img{
  width: 100%;
  filter: grayscale(1);

  transition: filter .15s;
}

.person:hover img{
  filter: grayscale(0);
}

.person span{
  display: block;
  text-align: center;
}
