.resource-categories {
	.resource-category {
		background-color: $main-color;
		border-radius: 7px;
		display: table;
		width: 100%;
		height: 220px;
		padding: 10px;
		box-sizing: border-box;
		font-family: $secondary-font-family;
		font-size: 28px;
		transition: 0.1s all linear;

		&:hover {
			background-color: $green-color;
			transition: 0.1s all linear;
		}

		.category {
			color: white;
			display: table-cell;
			vertical-align: bottom;
		}
	}

	.category-container {
		margin-bottom: 30px;
	}
}

.resources-page {
	.resource {
		display: inline;
	}

	h3 {
		font-family: $heading-font !important;
		font-size: 4em;
		margin-top: 0px !important;
	}

	h4 {
		margin-top: 0px !important;
		font-size: 2em;
	}

	.button {
		background-color: $main-color;
		width: auto;
		padding: 10px;

		&:hover {
			background-color: lighten($main-color, 3);
		}
	}

	.line {
		width: 100%;
		height: 1px;
		background-color: #979797;
	}
}