// main.scss
@font-face {
	font-family: 'Charlottely';
	src: url('../fonts/charlottely.eot');
	src: url('../fonts/charlottely.eot?#iefix') format('embedded-opentype'),
	url('../fonts/charlottely.woff2') format('woff2'),
	url('../fonts/charlottely.woff') format('woff'),
	url('../fonts/charlottely.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

$secondary-font-family: "din-condensed-web",sans-serif;
$text-font-family: "athelas",serif;
$heading-font: Charlottely,serif;
$black-color: #2D2D2D;

@import 'settings';
@import 'foundation';

@include foundation-global-styles;
@include foundation-grid;
@include foundation-typography;

@include foundation-button;
@include foundation-forms;
@import "animate";

@import 'header';
@import 'footer';

main.home {
	@import 'home';
}

p {
	font-family: $text-font-family;
}