// main.scss
@font-face {
	font-family: 'Charlottely';
	src: url('../fonts/charlottely.eot');
	src: url('../fonts/charlottely.eot?#iefix') format('embedded-opentype'),
	url('../fonts/charlottely.woff2') format('woff2'),
	url('../fonts/charlottely.woff') format('woff'),
	url('../fonts/charlottely.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

$secondary-font-family: "din-condensed-web",sans-serif;
$text-font-family: "athelas",serif;
$heading-font: Charlottely,serif;
$black-color: #2D2D2D;
$red-color: rgba(255, 0, 0, 0.75);

@import 'settings';
@import 'foundation';

@include foundation-global-styles;
@include foundation-grid;
@include foundation-typography;

@include foundation-button;
@include foundation-forms;
@import "animate";

@import 'header';
@import 'footer';


main.home {
	//background-image: url('../images/background.png');

	@import 'home';
}

main.general-page {
	@import "page";
	padding-top: 113px;
}

main.members .contents {
	@import "members";
}

.calendar {
	padding: 60px 0;

	@import "calendar";
}

p {
	font-family: $text-font-family;
}

.body-text {
	h1, h2, h3, h4, h5, h6 {
		font-family: $secondary-font-family;
		margin-top: 30px;
	}

	h1 {
		font-size: 4em;
	}
}

.button {
	width: 100%;
	font-family: $secondary-font-family;
	text-transform: uppercase;
	font-size: 1.2em;
	border-radius: 7px;
	background-color: $red-color;
	margin-top: 10px;
	margin-bottom: 30px;

	&:hover {
		background-color: darken($red-color, 10);
	}
}

@media (max-width: 640px) {
	main.general-page {
		padding-top: 0px;
	}
}